:root {
  --b-color: #404040;
}
* {
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 0;
}

body {
  background-color: #181818;
}
/* Start of Welcome Section */

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: var(--bs-orange);
  background-color: var(--b-color);
}

#welcome-section h1 {
  font-family: var(--bs-font-monospace);
  font-size: calc(2rem + 1.5vw);
}

.welcome-section > p {
  font-family: var(--bs-font-monospace);
  font-size: 1rem;
  color: var(--bs-yellow);
}
#name {
  padding-left: 5%;
}
.code {
  color: var(--b-color);
  transition: color 0.3s ease-out;
}
#name:hover .code {
  color: var(--bs-danger);
}
/* End of Welcome Section */
/* Start of Project Section */
.projects-section {
  width: 100%;
  height: 100vh;
}
.texts {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 4.2 ease-out;
  color: var(--bs-orange);
  font-family: var(--bs-font-monospace);
}
.card:hover .texts {
  color: aliceblue;
}
.card {
  padding: 10px;
  box-shadow: 8px 10px #181818;
  transition: color 3.2 ease-in-out;
  margin: 20vh 2.5vw 0 2.5vw;
}
.card-body .codef {
  color: #343a40;
  opacity: 0;
  transition: opacity 3s, transform 2s;
}

.card:hover .codef {
  color: white;
  opacity: 100%;
  transform: translateX(-10px)
}

.card-body .codes {
  color: #343a40;
  opacity: 0;
  transition: opacity 3s, transform 2s;
}

.card:hover .codes {
  color: white;
  opacity: 100%;
  transform: translateX(10px)
}

.card:hover .card-body {
  color: white;
  background-color: #181818;
}

.card > img {
  height: 240px;
  padding: 12px;
  border-radius: 7%;
}
/* End of Project Section */
/* Start of Footer Section */
footer {
  height: 100vh;
}
#copyright {
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  height: 12vh;
}
#text {
  padding-top: 20vh;
  padding-bottom: calc(50vh - 10%);
  font-size: 8vw;
}

/* End of Footer Section */

/* Media Queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #welcome-section h1 {
    font-size: calc(85px + 1.5vw);
  }
  #welcome-section p {
    font-size: calc(25px + 0.5vw);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
