:root {
  --b-color: #404040;
}
* {
  margin: 0;
  scroll-behavior: smooth;
  padding: 0;
}

body {
  background-color: #181818;
}
/* Start of Welcome Section */

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: var(--bs-orange);
  background-color: var(--b-color);
}

#welcome-section h1 {
  font-family: var(--bs-font-monospace);
  font-size: calc(3rem + 1.5vw);
}

.welcome-section > p {
  font-family: var(--bs-font-monospace);
  font-size: 1rem;
  color: var(--bs-yellow);
}
#name {
  padding-left: 5%;
}
.code {
  color: var(--bs-danger);
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
#name:hover .code {
  opacity: 100%;
}
#swell {
  transition: transform 2s;
}
#swell:hover {
  transform: scale(2);
}
/* End of Welcome Section */
/* Start of Project Section */
.col-4 {
  margin-right: 5.5rem;
}
.texts {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 4.2 ease-out;
  color: var(--bs-orange);
  font-family: var(--bs-font-monospace);
}
.card:hover .texts {
  color: aliceblue;
}
.card {
  padding: 10px;
  transition: color 3.2 ease-in-out;
  margin: 20vh 2.5vw 0 2.5vw;
}
.card-body .codes {
  opacity: 0;
  transition: opacity 3s, transform 2s;
}
.card-body .codef {
  opacity: 0;
  transition: opacity 3s, transform 2s;
}

.card:hover .codef {
  color: white;
  opacity: 100%;
  transform: translateX(-10px);
}

.card:hover .codes {
  color: white;
  opacity: 100%;
  transform: translateX(10px);
}

.card:hover .card-body {
  color: white;
  background-color: #181818;
}

.card > img {
  height: 30vh;
  border-radius: 7%;
}
/* End of Project Section */
/* Start of Footer Section */
#smile {
  opacity: 0;
  opacity: 0;
  transition: opacity 2s;
}
#text:hover #smile {
  opacity: 100%;
}
#copyright {
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  height: 12vh;
}
#text {
  padding-top: 20vh;
  padding-bottom: calc(50vh - 10%);
  font-size: 8vw;
}

/* End of Footer Section */

/* Media Queries */

/* Small devices (landscape phones, 767px and down) */
@media (max-width: 767.98px) {
  /* Keyframes: Start */
  @keyframes code {
    0% {
      color: var(--bs-danger);
    }
    35% {
      color: orange;
    }
    60% {
      color: var(--bs-orange);
    }
    75% {
      color: var(--bs-danger);
    }
    100% {
      color: red;
    }
  }

  @keyframes co {
    from {
      opacity: 100%;
    }
    to {
      opacity: 0;
      /* margin:  0 5px 0 5px; */
    }
  }

  @keyframes sweller {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(2);
    }

    100% {
      transform: scale(1);
    }
  }
  /* Keyframes End */
  #name .code {
    opacity: 100%;
    animation-name: code;
    animation-duration: 6s;
    animation-iteration-count: infinite;
  }
  .codef {
    color: white !important;
    opacity: 100% !important;
  }
  .codes {
    color: white;
    opacity: 100%;
  }

  .codef {
    animation-name: co;
    animation-duration: 2.1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  .codes {
    animation-name: co;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  #smile {
    animation-name: co;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
  }
  #swell {
    animation: sweller 2.5s infinite;
  }
  #welcome-section h1 {
    font-size: 2.5rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .code {
    color: var(--bs-danger);
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }
  #name:hover .code {
    opacity: 100%;
  }
}
